@media only screen and (max-width: 320px) {
  #stage #interface .superior {
    width: 100% !important;
  }
  #stage #interface .lateral {
    width: 100%;
  }
  #stage #galeria section .texto {
    height: 440px;
    padding-top: 40px;
  }
  #stage #galeria section .texto .viewport {
    height: calc(100% - 102px);
    top: 40px;
  }
  #stage #galeria section .texto .scrollbar {
    top: 40px;
  }
}

@media only screen and (max-width: 769px) {
  .decoration_0 {
    width: 315px;
    height: 343px;
  }

 
  #areaVideo #contVideo {
    background-color: transparent;
  }

  .decoration_1 {
    width: 277px;
    height: 272px;
  }

  .decoration_2 {
    width: 119px;
    height: 96px;
  }

  .decoration_3 {
    width: 116px;
    height: 93px;
  }

  #stage #mc_logo_intro {
    left: -9px;
    top: 1px;
    transform: scale(0.5);
  }

  .question section {
    margin-left: 20px;
    flex-direction: column;
    width: 75vw;
    height: 55vh;
    padding: 10px 42px;
  }

  .question section .title {
    font-size: 24px;
  }

  .question section .subtitle {
    font-size: 16px;
  }

  .question section .question_content {
    font-size: 16px;
  }

  .question section .question_font {
    font-size: 12px;
  }

  .question section .question_acesso {
    font-size: 12px;
  }

  .question section .image_section span .image_font {
    font-size: 12px;
  }

  .question section .image_section span {
    font-size: 12px;
  }

  .question section .question_enunciado {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
  }

  .question section .questions_items {
    font-size: 16px;
    border: 1px solid rgba(74, 70, 42, 0.76);
    padding: 7px 9px;
    text-align: justify;
    border-radius: 15px;
  }

  .question section .question_fotter .qual_item .text {
    font-size: 20px;
  }

  .question section .question_fotter .buttom button {
    font-size: 21px;
    width: 164px;
  }

  #areaVideo #contVideo .video-left-content {
    display: none;
  }

  #areaVideo #contVideo .video-right-content {
    display: none;
  }

  .popUpVideo section button {
    font-size: 15px;
    width: 80%;
  }

  .popUpVideo section .buttton-items {
    width: 250px;
  }

  .popUpVideo section .buttton-items button {
    font-size: 18px;
    width: 45px;
    height: 45px;
  }

  .popUpVideo section .buttons-section {
    margin-top: 10px;
    gap: 10px;
  }
}

@media only screen and (max-width: 641px) {
  .decoration_0 {
    width: 240px;
    height: 226px;
  }

  .decoration_1 {
    width: 197px;
    height: 163px;
  }

  .popUpCompartilhar section {
    width: 90vw;
  }

  .popUpRotacao section {
    width: 74vw;
    height: 293px;
  }

  .popUpRotacao section .title-compartilhe {
    font-size: 18px;
    width: 90%;
  }

  .popUpCompartilhar section .title-compartilhe {
    width: 80%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .popUpCompartilhar section .link {
    font-size: 14px;
    padding: 10px 15px;
  }

  .popUpCompartilhar section button {
    font-size: 16px;
  }


  .decoration_2 {
    width: 96px;
    height: 76px;
  }

  .decoration_3 {
    width: 95px;
    height: 73px;
  }

  #stage #mc_logo_intro {
    left: -35px;
    top: 1px;
    transform: scale(0.4);
  }

  .question section .question_fotter .qual_item .items {
    width: 307px;
  }

  .question section .question_fotter .qual_item .items .item {
    font-size: 25px;
    width: 50px;
    height: 50px;
  }

  .question section .question_fotter .buttom button {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 426px) {
  .question section {
    width: 100vw;
    margin-left: 0;
    height: 63vh;
    padding: 10px 40px;
    overflow-x: none;
  }

  .question section .title {
    font-size: 20px;
  }

  .question section .subtitle {
    font-size: 16px;
  }

  .question section .question_content {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
  }

  .question section .question_font {
    font-size: 12px;
  }

  .question section .question_acesso {
    font-size: 12px;
  }

  .question section .image_section {
    margin-top: 30px;
  }

  .question section .image_section .img_question {
    width: 100%;
  }

  .question section .image_section span .image_font {
    font-size: 12px;
  }

  .question section .image_section span {
    font-size: 12px;
  }

  .question section .question_enunciado {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
  }

  .question section .questions_items {
    font-size: 16px;
    border: 1px solid rgba(74, 70, 42, 0.76);
    padding: 7px 9px;
    text-align: justify;
    border-radius: 15px;
  }

  .question section .question_fotter .qual_item .text {
    font-size: 20px;
  }

  .question section .question_fotter {
    flex-direction: column;
  }

  .question section .question_fotter .qual_item {
    width: 100%;
    text-align: center;
  }

  .question section .question_fotter .qual_item .items {
    width: 280px;
  }

  .question section .question_fotter .qual_item .items .item {
    font-size: 24px;
    width: 50px;
    height: 50px;
  }

  .question section .question_fotter .buttom {
    width: 100%;
    justify-content: center;
  }

  #areaVideo #contVideo .video-left-content {
    display: none;
  }

  #areaVideo #contVideo .video-right-content {
    display: none;
  }

  .popUpVideo section {
    width: 90%;
  }

  .popUpVideo section button {
    font-size: 15px;
    width: 80%;
  }

  .popUpVideo section .buttton-items {
    width: 250px;
  }

  .popUpVideo section .buttton-items button {
    font-size: 18px;
    width: 45px;
    height: 45px;
  }

  .popUpVideo section .buttons-section {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .openMenu {
    left: 296px !important;
  }

  /* ////////////////////////////////////////////////////////////////////// */

  #stage #interface #ajuda,
  #stage #interface #informacoes,
  #stage #interface #acessibilidade {
    position: fixed;
    width: 100%;
    top: 55px;
    left: 0;
  }

  #areaVideo .fechar,
  #galeria .fechar {
    top: -6px;
    right: -6px;
    transform: scale(0.8);
  }
  #galeria .btnZoom {
    top: 45px;
    left: 2px;
    transform: scale(0.8);
  }

  #stage #btnOpcoes {
    background: url(img/sprite.png) no-repeat;
    position: relative;
    top: -6px;
    left: -6px;
    height: 55px;
    width: 55px;
    text-indent: -5000px;
    z-index: 103;
    border: 0;
    display: none;
    transform: scale(0.8);
    transition: left 0.5s, filter 0.5s;
  }

  #stage #interface .superior,
  #stage #interface .lateral .btn,
  #stage #interface .lateral .btn button {
    height: 55px;
  }
  #stage #interface .lateral {
    top: 54px;
  }
  #stage #interface .lateral .btn .icon {
    top: -5px;
  }
  #stage #interface .lateral .btn button > b {
    line-height: 0;
  }
  #stage #interface .superior .titulo {
    height: 48px;
  }

  #stage[data-autocontraste="true"] #interface .superior {
    height: 55px;
  }
  #interface *:focus,
  .mejs-container *:focus,
  #btnOpcoes:focus,
  .tocar:focus {
    box-shadow: none;
  }
  #areaVideo #moldura {
    display: block;
  }

  #stage #galeria section h4,
  #stage .lettering {
    top: 0px;
    left: 44px;
    line-height: 18px;
  }
  #stage #galeria section h4 {
    max-width: calc(100% - 118px);
  }

  #stage #galeria section .video {
    background-size: 30%;
  }
}

@media only screen and (max-width: 846px) {
  .mejs-container,
  .mejs-captions-layer {
    width: 100% !important;
    height: 100% !important;
  }

  #areaVideo #contVideo {
    background-color: transparent;
  }
  #areaVideo #contVideo,
  #stage #areaVideo .video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }
  #areaVideo .volumeController,
  #posterVideo {
    position: absolute !important;
    width: 100%;
    height: auto;
    top: 50% !important;
    left: 0 !important;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 572px) {
  .mejs-captions-position[data-size="s1"],
  .mejs-captions-position[data-size="s2"],
  .mejs-captions-position[data-size="s3"] {
    width: 430px !important;
    margin-left: -235px !important;
  }

  .mejs-captions-position[data-size="s1"] .mejs-captions-text {
    font-size: 21px !important;
  }
  .mejs-captions-position[data-size="s2"] .mejs-captions-text {
    font-size: 22px !important;
  }
  .mejs-captions-position[data-size="s3"] .mejs-captions-text {
    font-size: 23px !important;
  }

  .mejs-captions-position-hover {
    bottom: 51px !important;
  }
}

@media only screen and (max-width: 475px) {
  .mejs-controls div.mejs-time-rail {
    position: absolute;
    top: -21px;
    height: 21px !important;
    background: #2a2a2a;
    width: 100% !important;
    padding-top: 0px !important;
  }
  .mejs-controls .mejs-time-rail .mejs-time-total {
    width: 97.2% !important;
  }

  .mejs-captions-position[data-size="s1"],
  .mejs-captions-position[data-size="s2"],
  .mejs-captions-position[data-size="s3"] {
    width: 360px !important;
    margin-left: -196px !important;
  }

  .mejs-captions-position[data-size="s1"] .mejs-captions-text {
    font-size: 19px !important;
  }
  .mejs-captions-position[data-size="s2"] .mejs-captions-text {
    font-size: 20px !important;
  }
  .mejs-captions-position[data-size="s3"] .mejs-captions-text {
    font-size: 21px !important;
  }

  .mejs-captions-position-hover {
    bottom: 71px !important;
  }
}

@media only screen and (max-width: 405px) {
  .mejs-captions-position[data-size="s1"],
  .mejs-captions-position[data-size="s2"],
  .mejs-captions-position[data-size="s3"] {
    width: 273px !important;
    margin-left: -154px !important;
  }
  .mejs-captions-position[data-size="s1"] .mejs-captions-text,
  .mejs-captions-position[data-size="s2"] .mejs-captions-text,
  .mejs-captions-position[data-size="s3"] .mejs-captions-text {
    font-size: 16px !important;
    line-height: 21px !important;
  }
}

@media only screen and (max-width: 500px) {
  .decoration_0 {
    width: 100%;
    height: 226px;
    background: url(img/mobile-pt1.png) no-repeat left top / 100% 100%;
  }
  .decoration_1 {
    width: 100%;
    height: 111px;
    background: url(img/mobile-pt2.png) no-repeat left top / 100% 100%;
  }
  #stage #mc_titulo_intro {
    top: 60%;
    font-size: 26px;
  }

  .decoration_2,
  .decoration_3 {
    display: none;
  }
  #stage #mc_logo_intro {
    transform: scale(0.45);
    left: -16px;
    top: -2px;
  }

  #stage #mc_titulo_intro .sub_titulo {
    font-size: 18px;
  }
}
@media (max-width: 659px) {
  #stage #galeria .main .content {
    transform: scale(1);
  }
}
@media (min-width: 660px) and (max-width: 765px) {
  #stage #galeria .main .content {
    transform: scale(0.78);
  }
}
@media (min-width: 766px) and (max-width: 845px) {
  #stage #galeria .main .content {
    transform: scale(0.89);
  }
}
@media (min-width: 846px) {
  #stage #galeria .main .content {
    transform: scale(1);
  }
}
@media (min-width: 660px) and (max-width: 5000px) {
  #stage #galeria .main .content {
    width: 846px;
    height: 476px;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin: -238px 0 0 -423px;
    overflow: hidden;
  }
  #stage #galeria section .texto {
    height: 436px;
  }
  #stage #galeria section .legenda {
    -webkit-transition: right 0.5s ease-in-out;
    -moz-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
    right: 0px;
  }
  #stage #galeria section .legenda.anima {
    right: 295px;
  }

  #galeria .btnZoom,
  #galeria .ampliacao {
    visibility: hidden;
  }

  #galeria .stNvGaleria {
    top: 325px;
  }
}

@media (max-height: 475px) and (max-width: 500px) {
  #areaVideo .fechar {
    top: -11px;
    right: -11px;
    transform: scale(0.6);
  }

  #stage #btnOpcoes {
    top: -11px;
    left: -11px;
    transform: scale(0.6);
  }
}
@media (max-height: 475px) and (min-width: 501px) {
  #areaVideo .fechar {
    top: -6px;
    right: -6px;
    transform: scale(0.8);
  }

  #stage #btnOpcoes {
    top: -6px;
    left: -6px;
    transform: scale(0.8);
  }
}
@media (max-height: 475px) {
  .mejs-container .mejs-controls {
    height: 35px;
  }
  .mejs-controls .mejs-button button {
    height: 23px;
  }
  .mejs-controls .mejs-play button {
    background-position: 4px -5px;
  }
  .mejs-controls .mejs-pause button {
    background-position: -30px -6px;
  }
  .mejs-controls .mejs-options .mejs-button#btnPlrSpeed {
    font-size: 16px;
    position: relative;
    top: -2px;
  }
  .mejs-controls .mejs-options .mejs-button#btnPlrCC {
    background-position: -60px 2px;
  }
  .mejs-controls .mejs-options .mejs-button#btnPlrCC[data-show="false"] {
    background-position: -60px -33px;
  }
  .mejs-controls .mejs-options .mejs-button#btnPlrOpt {
    background-position: -104px 2px;
  }
  .mejs-controls .mejs-options .mejs-button#btnPlrOpt[data-show="false"] {
    background-position: -104px -33px;
  }
  .mejs-container .mejs-controls .mejs-time {
    padding: 3px 3px 0 3px;
  }
  .mejs-controls div.mejs-time-rail {
    padding-top: 7px;
  }
}

@media only screen and (max-width: 641px) {
  /* .mejs-container,
  .mejs-captions-layer {
    width: 70% !important;
    height: 100% !important;
  } */

  #areaVideo #contVideo {
    transform: scale(0.7);
    margin-top: 20px;
  }

  #areaVideo #contVideo .video-left-content {
    display: none;
  }

  #areaVideo #contVideo .video-right-content {
    display: none;
  }

  .popUpVideo section {
    width: 72%;
    height: 255px;
  }

  .popUpVideo section .buttons-section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 426px) {
  #areaVideo #contVideo {
    transform: scale(1);
    margin-top: 0px;
  }

  .popUpRotacao section {
    width: 90vw;
    height: 345px;
  }
}

