* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  overflow: hidden;
}
b,
strong {
  font-family: "font2B";
  font-weight: normal;
}
i,
em {
  font-family: "font2I";
  font-style: normal;
}
b i,
b em,
strong i,
strong em {
  font-family: "font2BI";
  font-style: normal;
}

.displayNone {
  display: none;
}

.animaAtv {
  -webkit-transition: left 0.7s, right 0.7s, top 0.7s, bottom 0.7s, width 0.7s,
    height 0.7s, -webkit-transform 0.7s; /* Safari */
  transition: left 0.7s, right 0.7s, top 0.7s, bottom 0.7s, width 0.7s,
    height 0.7s, -webkit-transform 0.7s;
  transition-timing-function: ease;
}

body {
  width: 100%;
  height: 100%;
  font-family: "font2", sans-serif;
  touch-action: none;
}

.body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  border: 0;
  cursor: pointer;
}

#stage {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  padding: 0;
  margin: auto;
  top: 0px;
  left: 0;
  background: #fff;
}
#interface *:focus,
.mejs-container *:focus,
#btnOpcoes:focus,
.tocar:focus {
  /* box-shadow: #0071bc 2px 2px 2px inset, #0071bc -2px 2px 2px inset,
    #0071bc -2px -2px 2px inset, #0071bc 2px -2px 2px inset; */
}
#interface *.disabled:focus,
#interface *:active,
#interface *:target,
#interface *:hover,
.mejs-container *.disabled:focus,
.mejs-container *:active,
.mejs-container *:target,
.mejs-container *:hover {
  box-shadow: none;
}
#stage #oedDescription {
  width: 1px;
  height: 1px;
  left: -50000px;
  display: block;
}
#stage .abs {
  position: absolute;
  top: 0;
  left: 0;
}
#stage #abertura {
  z-index: 103;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.decoration_0 {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 463px;
  height: 509px;
  background: url(img/web-up-left.png) no-repeat left top / 100% 100%;
  pointer-events: none;
}

.decoration_1 {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 403px;
  height: 376px;
  background: url(img/web-down-right.png) no-repeat right bottom / 100% 100%;
  pointer-events: none;
}

.decoration_2 {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 169px;
  height: 140px;
  background: url(img/web-down-left.png) no-repeat left bottom / 100% 100%;
  pointer-events: none;
}

.decoration_3 {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 169px;
  height: 134px;
  background: url(img/web-up-right.png) no-repeat right top / 100% 100%;
  pointer-events: none;
}

#stage #mc_logo_intro {
  background: url(img/logo-moderna-white.png) no-repeat;
  width: 266px;
  height: 72px;
  position: absolute;
  left: 15px;
  top: 5px;
  text-indent: -5000px;
  transform: scale(0.6);
}
#stage #mc_titulo_intro {
  font-size: 48px;
  color: #4a462a;
  font-family: "mavenBlack";
  font-weight: bold;
  text-align: center;
  top: 52%;
  left: 50%;
  width: calc(100% - 10px);
  max-width: 600px;
  height: 150px;
  margin-top: -115px;
  display: table;
  transform: translateX(-50%);
}

#stage #mc_titulo_intro .sub_titulo {
  padding-top: 5px;
  font-size: 28px;
  font-family: "maven";
}

#stage #mc_titulo_intro span {
  vertical-align: middle;
  display: table-cell;
}
#stage #mc_titulo_intro i,
#stage #mc_titulo_intro em {
  font-family: "font5I";
}
#stage #mc_titulo_intro sup {
  position: relative;
  top: 8px;
  font-family: "font4";
}
#stage .credito {
  position: absolute;
  top: 122px;
  right: -48px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  width: 205px;
  height: 95px;
  text-align: right;
  pointer-events: none;
}
#stage .credito.grande {
  top: 219px;
  right: -144px;
  width: 400px;
  height: 95px;
}
#stage .credito.grande.oneLine {
  top: 261px;
  right: -184px;
  width: 400px;
  height: 13px;
}
#stage .credito small {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
  text-shadow: none;
  color: #fff;
  font-family: "font2B";
}
#stage .credito small.black {
  color: rgba(0, 0, 0, 0.7);
}
#stage .credito small i,
#stage .credito small em {
  font-family: "font2BI";
}

#stage .tocar {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 53px;
  height: 53px;
  background: url(img/sprite.png) no-repeat 0 0;
  margin: 35px 0 0 -26.5px;
  cursor: pointer;
  text-indent: -5000px;
  border: 0;
  z-index: 102;
  cursor: pointer;
}

#stage #interatividade {
  z-index: 100;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.disable {
  display: none;
}
.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

#stage #html5Loader {
  position: absolute;
  z-index: 99;
  display: block;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: 12px 0 0 -50px;
  background: rgba(255, 255, 255, 0.7);
}
#stage #html5Loader canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#stage #interface {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#stage #interface[data-status="on"] {
  display: block;
}
#stage #interface[data-status="off"] {
  display: none;
}
#stage #interface[data-status="off"] .filtro,
#stage #interface[data-status="off"] .lateral,
#stage #interface[data-status="off"] .superior {
  display: none;
}
#stage #interface .filtro {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#stage #btnOpcoes {
  background: url(img/sprite.png) no-repeat;
  position: relative;
  top: 0;
  left: 0;
  height: 55px;
  width: 55px;
  text-indent: -5000px;
  z-index: 103;
  border: 0;
  transition: left 0.5s, filter 0.5s;
}

#stage #btnOpcoes[aria-expanded="true"] {
  background-position: -135px -1px;
  filter: brightness(60%);
  transform: scale(0.7);
  left: 253px;
  top: 10px;
}

#stage #btnOpcoes[aria-expanded="false"] {
  background-position: -192px -63px;
  left: -10px;
  top: 11px;
}

.openMenu {
  left: 358px !important;
}

#stage #btnOpcoes[aria-expanded="true"] {
  background-position: -135px -1px;
  filter: brightness(60%);
  transform: scale(0.7);
  left: 253px;
  top: 10px;
}

#stage #interface .superior {
  background: white;
  position: absolute;
  top: 0px;
  left: -320px;
  height: 55px;
  width: 320px;
  color: #4a462a;
  z-index: 1;
}
#stage #interface .superior .titulo {
  font-family: "font2B";
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  height: 57px;
  width: 100pc;
  position: relative;
  padding-right: 10px;
}
#stage #interface .superior .titulo i {
  font-family: "font2BI";
}
#stage #interface .superior .titulo sup {
  position: relative;
  top: 3px;
  font-family: "font4";
}

#stage #interface .logo_supeior {
  background: url(img/logo-moderna.png) no-repeat;
  width: 266px;
  height: 72px;
  position: absolute;
  left: -28px;
  top: 5px;
  text-indent: -5000px;
  transform: scale(0.6);
}

#stage #interface .lateral .viewport {
  height: 400px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 15px;
}
#stage #interface .lateral .overview {
  position: absolute;
  left: 0;
  top: 0;
}
#stage #interface .lateral .scrollbar {
  position: absolute;
  width: 10px;
  top: 15px;
  right: 0px;
}
#stage #interface .lateral .track {
  width: 10px;
  height: 100%;
  position: relative;
  padding: 0;
  background: #4d4d4d;
}
#stage #interface .lateral .thumb {
  width: 10px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #b3b3b3;
}

#stage #interface .lateral {
  background: white;
  position: absolute;
  top: 53px;
  left: -320px;
  width: 320px;
  height: 100%;
  z-index: 2;
  padding-top: 40px;
}

#stage #interface .lateral > h3 {
  height: 40px;
  line-height: 40px;
  font-family: "font2B";
  font-size: 16px;
  color: black;
  padding-left: 12px;
  padding-top: 11px;
}

#stage #interface .lateral .btn {
  width: 320px;
  height: 55px;
  display: block;
  padding-left: 10px;
}
#stage #interface .lateral .btn button {
  position: relative;
  width: 310px;
  height: 55px;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  padding-left: 10px;
  text-align: left;
  cursor: pointer;
}

#stage #interface .lateral .btn {
  width: 310px;
}
#stage #interface .lateral .btn:hover {
  background: #e7e7e7;
}
#stage #interface .lateral .btn.hover {
  background: #e7e7e7;
}
#stage #interface .lateral .btn .icon {
  width: 36px;
  height: 26px;
  text-indent: -5000px;
  display: block;
  transform: scale(0.9);
}
#stage #interface .lateral .btn button > b {
  font-family: "sourceSans";
  font-size: 20px;
  line-height: 16px;
  color: #4a462a;
  margin-left: 5px;
}
#stage #interface .lateral .btn:hover button > b,
#stage #interface .lateral .btn.hover button > b {
  color: #4a462a;
}
#stage #interface .lateral .btn .icon.icon-fase {
  background-position: -244px -282px;
}
#stage #interface .lateral .btn:hover .icon.icon-fase,
#stage #interface .lateral .btn.hover .icon.icon-fase {
  background-position: -244px -282px;
}
#stage #interface .lateral .btn .icon.icon-menu {
  background-position: -243px 0px;
}
#stage #interface .lateral .btn:hover .icon.icon-menu,
#stage #interface .lateral .btn.hover .icon.icon-menu {
  background-position: -243px 0px;
}

#stage #interface .lateral .btn .icon.icon-roteiro {
  background-position: -298px 0px;
}
#stage #interface .lateral .btn:hover .icon.icon-roteiro,
#stage #interface .lateral .btn.hover .icon.icon-roteiro {
  background-position: -353px 0px;
}

#stage #interface .lateral .btn [data-status="on"] .icon.icon-som {
  background-position: -463px -2px;
}
#stage #interface .lateral .btn [data-status="off"] .icon.icon-som {
  background-position: -518px -61px;
}
#stage #interface .lateral .btn [data-status="on"]:hover .icon.icon-som,
#stage #interface .lateral .btn [data-status="on"].hover .icon.icon-som {
  background-position: -463px -2px;
}
#stage #interface .lateral .btn [data-status="off"]:hover .icon.icon-som,
#stage #interface .lateral .btn [data-status="off"].hover .icon.icon-som {
  background-position: -518px -61px;
}

#stage #interface .lateral .btn .icon.icon-ajuda {
  background-position: -353px -61px;
}
#stage #interface .lateral .btn:hover .icon.icon-ajuda,
#stage #interface .lateral .btn.hover .icon.icon-ajuda {
  background-position: -353px -61px;
}

#stage #interface .lateral .btn .icon.icon-acessibilidade {
  background-position: -463px -61px;
}
#stage #interface .lateral .btn:hover .icon.icon-acessibilidade,
#stage #interface .lateral .btn.hover .icon.icon-acessibilidade {
  background-position: -463px -61px;
}

#stage #interface .lateral .btn .icon.icon-creditos {
  background-position: -353px -122px;
}
#stage #interface .lateral .btn:hover .icon.icon-creditos,
#stage #interface .lateral .btn.hover .icon.icon-creditos {
  background-position: -353px -122px;
}

#stage #interface .lateral .btn .icon.icon-reiniciar {
  background-position: -463px -122px;
}
#stage #interface .lateral .btn:hover .icon.icon-reiniciar,
#stage #interface .lateral .btn.hover .icon.icon-reiniciar {
  background-position: -463px -122px;
}

#stage #interface .lateral .btn [data-status="on"] .icon.icon-divisao {
  background-position: -242px -183px;
}
#stage #interface .lateral .btn [data-status="off"] .icon.icon-divisao {
  background-position: -353px -183px;
}
#stage #interface .lateral .btn [data-status="on"]:hover .icon.icon-divisao,
#stage #interface .lateral .btn [data-status="on"].hover .icon.icon-divisao {
  background-position: -298px -183px;
}
#stage #interface .lateral .btn [data-status="off"]:hover .icon.icon-divisao,
#stage #interface .lateral .btn [data-status="off"].hover .icon.icon-divisao {
  background-position: -408px -183px;
}

#stage #interface .lateral .btn [data-status="on"] .icon.icon-satelite {
  background-position: -244px -61px;
}
#stage #interface .lateral .btn [data-status="off"] .icon.icon-satelite {
  background-position: -517px -181px;
}
#stage #interface .lateral .btn [data-status="on"]:hover .icon.icon-satelite,
#stage #interface .lateral .btn [data-status="on"].hover .icon.icon-satelite {
  background-position: -244px -122px;
}
#stage #interface .lateral .btn [data-status="off"]:hover .icon.icon-satelite,
#stage #interface .lateral .btn [data-status="off"].hover .icon.icon-satelite {
  background-position: -461px -181px;
}

#stage #interface .boxTexto {
  position: absolute;
  height: 100%;
  font-size: 14px;
  color: #000;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
#stage #interface .boxTexto[data-status="open"] {
  display: block;
}
#stage #interface .boxTexto[data-status="closed"] {
  display: none;
}
#stage #interface .boxTexto p {
  padding: 8px 20px;
}
#stage #interface .boxTexto ul {
  padding: 8px 40px;
}
#stage #interface .boxTexto .fechar {
  visibility: visible;
  transform: scale(0.7);
}
#stage #interface .boxTexto .content {
  position: relative;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
  padding-top: 30px;
}
#stage #interface .boxTexto .viewport {
  height: calc(100% - 115px);
  width: 92%;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0px;
}
#stage #interface .boxTexto .overview {
  position: absolute;
  left: 0;
  top: 0;
}
#stage #interface .boxTexto .scrollbar {
  position: absolute;
  width: 10px;
  top: 55px;
  right: 0px;
}
#stage #interface .boxTexto .track {
  width: 10px;
  height: 100%;
  position: relative;
  padding: 0;
  background: #4d4d4d;
}
#stage #interface .boxTexto .thumb {
  width: 10px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #b3b3b3;
}
#stage #interface .boxTexto h3 {
  position: absolute;
  top: 21px;
  left: 20px;
  font-size: 16px;
  font-family: "font2B";
  color: #2e808f;
  padding: 0;
}

#stage #interface #informacoes {
  width: 425px;
}
#stage #interface #informacoes span {
  position: absolute;
  top: 5px;
  right: 20px;
  height: 30px;
  width: 105px;
}
#stage #interface #informacoes .viewport,
#stage #interface #informacoes .scrollbar {
  top: 85px;
  position: absolute;
}

#stage #interface #ajuda {
  width: 425px;
}
#stage #interface #ajuda p {
  font-size: 17px;
  font-family: sourceSans;
}

#stage #interface #acessibilidade {
  width: 425px;
}

#stage #interface #acessibilidade #slideAcessivel {
  left: -500px;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  overflow: hidden;
  padding-top: 30px;
}

#stage #interface #acessibilidade .content {
  left: 0;
}
#stage #interface #acessibilidade .content:last-of-type {
  border-left: 0px solid #b0b0b0;
}

#stage #interface #acessibilidade .viewport {
  height: calc(100% - 115px);
  color: #4a462a !important;
}
#stage #interface #acessibilidade .scrollbar {
  z-index: 1;
}

#stage #interface #acessibilidade .bloco {
  padding-top: 0px;
  padding-bottom: 10px;
  width: auto;
}
#stage #interface #acessibilidade .bloco:last-of-type {
  padding-bottom: 0;
}

#stage #interface #acessibilidade .blAlt {
  padding-top: 0px;
}
#stage #interface #acessibilidade .bloco h4,
#stage #interface #acessibilidade .bloco label {
  padding: 8px 20px;
  color: #333333;
}
#stage #interface #acessibilidade .bloco h4 {
  font-family: "font2B";
  font-size: 16px;
  margin-bottom: 10px;
}
#stage #interface #acessibilidade .bloco label {
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
  font-size: 16px;
  font-family: "font2";
  line-height: 30px;
  cursor: pointer;
  margin: 5px 0;
  color: #000;
}
#stage #interface #acessibilidade .content:last-of-type .bloco label {
  line-height: 20px;
  margin-bottom: 10px;
  cursor: auto;
}
#stage #interface #acessibilidade .bloco label.disabled {
  color: #b0b0b0;
  cursor: auto;
}

#stage #interface #acessibilidade .bloco label span {
  display: block;
  font-family: "font2";
}
#stage #interface #acessibilidade .bloco label .checkbox {
  float: left;
  width: 33px;
  height: 16px;
  border-radius: 16px;
  position: relative;
  margin: 5px 7px 0 0;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
#stage #interface #acessibilidade .bloco label .checkbox i {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #fff;
  top: 2px;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}
#stage #interface #acessibilidade .bloco label .checkbox[aria-checked="true"] {
  background: #3594a6;
}
#stage
  #interface
  #acessibilidade
  .bloco
  label
  .checkbox[aria-checked="true"]
  i {
  left: 18px;
}
#stage #interface #acessibilidade .bloco label .checkbox[aria-checked="false"] {
  background: #b0b0b0;
}
#stage
  #interface
  #acessibilidade
  .bloco
  label
  .checkbox[aria-checked="false"]
  i {
  left: 2px;
}
#stage #interface #acessibilidade .bloco label .radio {
  float: left;
  width: 25px;
  background: url(img/sprite.png) no-repeat;
  height: 30px;
}
#stage #interface #acessibilidade .bloco label .radio[aria-checked="true"] {
  background-position: -587px -14px;
}
#stage #interface #acessibilidade .bloco label .radio[aria-checked="false"] {
  background: none;
}
#stage
  #interface
  #acessibilidade
  .bloco
  label.disabled
  .radio[aria-checked="true"] {
  background: none;
}
#stage #interface #acessibilidade .bloco label .text {
  line-height: 30px;
  height: 30px;
  display: inline-block;
}
/*
#stage #interface .boxGaleria{
	background:#ffffff;
	position:absolute;
	top:-220px;
	right:0px;
	width:634px;
	z-index:1;
}
#stage #interface .boxGaleria figure{
	width:128px;
	height:150px;
	margin:0 25px;
	float:left;
	position:relative;
	cursor:pointer;
}
#stage #interface .boxGaleria figure img{
	width:128px;
	height:96px;
	background:#b3b3b3;
}
#stage #interface .boxGaleria figure span{
	position: absolute;
	left: 0;
	top: 0;
	width:128px;
	height:96px;
}
#stage #interface .boxGaleria figure.image span{
	background: url(img/preview_image.png) no-repeat 0 0;
}
#stage #interface .boxGaleria figure.video span{
	background: url(img/preview_video.png) no-repeat 0 0;
}
#stage #interface .boxGaleria figure figcaption{
	font-size:15px;
	font-family: 'font2';
	color:#333333;
}
#stage #interface .boxGaleria .viewport{
	position:relative;
	width:595px;
	height:150px;
	margin:20px 20px 0 20px;
	overflow:hidden;
}
#stage #interface .boxGaleria .overview {
	position: absolute;
	left: 0;
	top: 0;
}
#stage #interface .boxGaleria .scrollbar{
	position: relative;
	width: 540px;
	height:10px;
	margin:0 20px 20px 20px;
}
#stage #interface .boxGaleria  .track {
	width:100%;
	height:10px;
	position: relative;
	padding: 0;
	background:#4d4d4d;
}
#stage #interface .boxGaleria  .thumb {
	width: 20px;
	height:10px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background:#b3b3b3;
}*/

#stage #galeria,
#stage #galeria .main {
  background: #202020;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#stage #galeria {
  z-index: 101;
}

#stage #galeria .main .content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  height: 500px;
  margin-top: -250px;
  overflow: hidden;
}

#stage #galeria section h4,
#stage .lettering {
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: "font2B";
  color: #000;
  font-size: 16px;
  background: #fdef41;
  line-height: 17px;
  padding: 15px 15px 11px 15px;
  text-transform: uppercase;
}
#stage #galeria section h4.invert,
#stage .lettering.invert,
#stage #galeria section .legenda.invert {
  background: #4edbf5;
}
#stage #galeria section .legenda,
#stage .legenda {
  position: absolute;
  bottom: 42px;
  right: 0px;
  padding: 15px 22px 15px 15px;
  background: #fdef41;
  font-family: "font2";
  font-size: 16px;
  line-height: 20px;
  color: #000;
  width: auto;
  max-width: 428px;
  text-align: right;
}
#stage #galeria section .btMaisMenos {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #2a2a2a;
  display: block;
  width: 142px;
  height: 42px;
  cursor: pointer;
  border: none;
  text-indent: 12px;
  color: #fff;
  font-family: "font2B";
  font-size: 16px;
}
#stage #galeria section .btMaisMenos::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 26px;
  height: 26px;
  background: url(img/sprite.png) no-repeat;
}
#stage #galeria section .btMaisMenos[data-status="mais"]::after {
  background-position: -585px -72px;
}
#stage #galeria section .btMaisMenos[data-status="fechar"]::after {
  background-position: -585px -42px;
}
#stage #galeria section .texto {
  position: absolute;
  top: 0px;
  right: -295px;
  width: 245px;
  height: 460px;
  background: #ffffff;
  padding: 20px 25px;
  color: #000;
  -webkit-transition: right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
}
#stage #galeria section .texto.anima {
  right: 0px;
}

#stage #galeria section .texto::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 42px;
  background: #2a2a2a;
}

#stage #galeria section .texto .viewport {
  height: calc(100% - 82px);
  width: calc(100% - 60px);
  overflow: hidden;
  position: absolute;
  left: 25px;
  top: 20px;
}
#stage #galeria section .texto .overview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#stage #galeria section .texto .scrollbar {
  position: absolute;
  width: 10px;
  top: 20px;
  right: 0px;
}
#stage #galeria section .texto .track {
  width: 10px;
  height: 100%;
  position: relative;
  padding: 0;
  background: #4d4d4d;
}
#stage #galeria section .texto .thumb {
  width: 10px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #b3b3b3;
}
#stage #galeria section .texto p {
  font-size: 17px;
  padding: 8px 0;
  font-family: "font2";
}
#stage #galeria section .texto p span {
  color: #2e808f;
  font-family: "font2B";
}
#stage #galeria section .texto ul {
  padding-left: 15px;
}
#stage #galeria section .texto ul li {
  padding: 8px 0;
}

#stage #galeria section img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
#stage #galeria section .ampliacao img {
  top: 50%;
  left: 0;
  width: auto;
  transform: translate(0, -50%);
}
#stage #galeria section .video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) url(img/play.png) no-repeat center center;
  cursor: pointer;
}

#stage #galeria section .lock {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 846px;
  height: 476px;
}

#stage #interface .niveis {
  width: 580px;
  position: absolute;
  top: 50%;
  right: 0;
  text-align: center;
}
#stage #interface .niveis button {
  border: none;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
}
#stage #interface .niveis.numero button {
  width: 70px;
  height: 70px;
  line-height: 78px;
  border-radius: 70px;
  display: inline-block;
  font-size: 60px;
  font-family: "font2";
  background: #fff;
  color: #000000;
  margin: 25px;
}
#stage #interface .niveis.texto button {
  display: block;
  font-size: 34px;
  font-family: "font2B";
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.7) 0 0 5px;
  margin: 25px auto;
  background: transparent;
}
#stage #interface .niveis button:hover {
  transform: scale(1.2, 1.2);
}

.fechar {
  position: absolute;
  top: 0px;
  right: 0px;
  background: url(img/sprite.png) no-repeat -556px -277px;
  display: block;
  text-indent: -5000px;
  width: 55px;
  height: 55px;
  border: 0;
  cursor: pointer;
}
.visual2 {
  left: 0px;
  background-position: -571px -123px;
  position: relative;
  height: 53px;
  margin-bottom: 2px;
}

.stNvGaleria {
  position: absolute;
  top: 222px;
  width: 42px;
  height: 47px;
  background: url(img/sprite.png) no-repeat;
  display: block;
  text-indent: -5000px;
  border: 0;
  cursor: pointer;
}
.stNvGaleria.stPrev {
  background-position: -450px -278px;
  left: 0;
}
.stNvGaleria.stNext {
  background-position: -505px -278px;
  right: 0;
}

.btnZoom {
  position: absolute;
  top: 60px;
  left: 5px;
  background: url(img/sprite.png) no-repeat;
  display: block;
  text-indent: -5000px;
  width: 46px;
  height: 46px;
  border: 0;
  cursor: pointer;
}
.btnZoom[data-status="mais"] {
  background-position: -191px -138px;
}
.btnZoom[data-status="menos"] {
  background-position: -191px -189px;
}

.btnPadrao {
  display: inline-block;
  padding: 0 23px;
  height: 35px;
  line-height: 37px;
  font-family: "font2B";
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin: 15px auto;
  background: #2a2a2a;
  border: 0;
  cursor: pointer;
}

.feedback {
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 101;
}
.feedback section {
  position: absolute;
  background: #e6e6e6;
  top: 50%;
  left: 50%;
}
.feedback section article {
  padding: 30px 30px 0px 30px;
  font-size: 17px;
  color: #000;
}
.feedback section article blockquote p {
  padding: 8px 0px;
}
.feedback section blockquote ul {
  padding: 8px 20px;
}
.feedback section article h3 {
  padding-bottom: 8px;
  font-size: 20px;
  font-family: "font2B";
  color: #000;
}
.feedback section article footer {
  text-align: center;
  padding-bottom: 7px;
}

.question {
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4a462a;
  font-family: "sourceSans";
}

.video_section {
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 101;
  align-items: center;
  justify-content: center;
  color: #4a462a;
  font-family: "sourceSans";
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dbdbdb;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.question section {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 55vh;
  overflow: auto;
  padding: 10px 100px;
}

.question section .title {
  font-size: 2vw;
  font-family: "mavenBlack";
  text-align: center;
}

.question section .subtitle {
  font-size: 1.5vw;
  text-align: center;
}

.question section .question_content {
  margin-top: 30px;
  font-size: 1.4vw;
  margin-bottom: 30px;
}

.question section .question_font {
  font-style: italic;
}

.question section .image_section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question section .image_section .img_question {
  width: 80%;
  cursor: pointer;
}

.question section .image_section span {
  margin-top: 5px;
}

.question section .image_section span .image_font {
  font-style: italic;
}

.question section .question_enunciado {
  margin-top: 50px;
  font-size: 1.4vw;
}

.question section .question_fotter {
  display: flex;
  margin-top: 60px;
  width: 100%;
  margin-bottom: 60px;
}

.question section .question_fotter .qual_item .text {
  font-family: sourceSansBold;
  font-size: 1.7vw;
}

.question section .question_fotter .qual_item {
  width: 70%;
}

.question section .question_fotter .qual_item .items {
  display: flex;
  justify-content: space-around;
  width: 320px;
  margin-top: 20px;
}

.question section .question_fotter .qual_item .items .item {
  cursor: pointer;
  font-size: 30px;
  font-family: sourceSansBold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #928c5d;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.question section .question_fotter .qual_item .items .selected {
  background-color: #575337; 
}

.question section .question_fotter .buttom {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.question section .question_fotter .buttom button {
  cursor: pointer;
  margin-top: 54px;
  background-color: #0087c2;
  font-family: sourceSansBold;
  text-transform: uppercase;
  border-radius: 18px;
  border: none;
  font-size: 25px;
  letter-spacing: 1px;
  width: 199px;
  color: #fff;
  height: 56px;
}

.question section .questions_items {
  margin-top: 30px;
  font-size: 1.4vw;
  padding: 20px 30px;
  border: 2px solid rgba(74, 70, 42, 0.7607843137254902);
  border-radius: 1.5vw;
}

#scrollStyle {
  overflow-y: scroll;
  height: 422px;
  overflow-x: hidden;
}

#scrollStyle::-webkit-scrollbar-track {
  background-color: #4d4d4d;
}

#scrollStyle::-webkit-scrollbar {
  width: 10px;
  background-color: #b3b3b3;
}

#scrollStyle::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}

#OEDlog {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 100px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px dashed #666;
  overflow: auto;
}
#OEDlog span {
  display: block;
}

#areaVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
#areaVideo .fechar {
  right: 0;
}

.content_video {
  display: flex;
  justify-items: center;
  width: 80vw;
  background-color: red;
}

#stage #areaVideo .video {
  position: absolute;
  width: 846px;
  height: 476px;
}

.title-submenu {
  display: flex;
  align-items: center;
  color: #4a462a;
}

.title-submenu .text-submenu {
  font-family: "sourceSans";
  display: flex;
  align-items: center;
  font-size: 24px;
}

.title-submenu .text-submenu .icon {
  position: initial !important;
  margin-left: -10px;
}

#areaVideo #contVideo {
  display: flex;
  background-color: white;
  border-radius: 25px;
}

#areaVideo #contVideo .video-left-content {
  width: 80px;
  background-color: white;
  border-radius: 25px 0px 0px 25px;
  box-shadow: 1px 0 6px 0 #9e9e9e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#areaVideo #contVideo .video-left-content .button-sair {
  margin-top: 15px;
  height: 30px;
  width: 30px;
  background: url(img/btn-sair.png) no-repeat;
  cursor: pointer;
  transform: scale(0.7);
}

#areaVideo #contVideo .video-left-content .text {
  font-family: "sourceSansBold";
  color: #4a462a;
  cursor: pointer;
  margin-top: 2px;
}

#areaVideo #contVideo .video-right-content .button-luz {
  margin-top: 10px;
  height: 42px;
  width: 40px;
  background: url(img/luz.png) no-repeat;
  transform: scale(0.65);
  cursor: pointer;
}

#areaVideo #contVideo .video-right-content .text {
  font-family: "sourceSansBold";
  color: #4a462a;
  margin-top: -2px;
  margin-left: -8px;
  cursor: pointer;
}

#areaVideo #contVideo .video-right-content {
  width: 80px;
  background-color: white;
  border-radius: 0px 25px 25px 0px;
  box-shadow: 1px 0 6px 0 #9e9e9e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#areaVideo #moldura {
  display: none;
}

#stage #areaVideo .video {
  background: rgba(0, 0, 0, 0.4) url(img/play.png) no-repeat center center;
  cursor: pointer;
}
.msgRotate {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url(img/mensagem-rotate.png) no-repeat center center;
  z-index: 300;
}



.popUpVideo, .popUpCompartilhar {
  z-index: 101;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -55px;
  background-color: #00000059;
}

.popUpRotacao {
  z-index: 101;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -55px;
  background-color: #00000059;
}

.popUpCompartilhar  {
  z-index: 200;
}
.popUpVideo section {
  width: 600px;
  height: 300px;
  background-color: white;
  box-shadow: 1px 0 6px 0 #9e9e9e;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}



.popUpCompartilhar section {
  width: 486px;
  height: 300px;
  background-color: white;
  box-shadow: 1px 0 6px 0 #9e9e9e;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.popUpRotacao section {
  width: 650px;
  height: 370px;
  background-color: white;
  box-shadow: 1px 0 6px 0 #9e9e9e;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.popUpVideo section button {
  font-family: "sourceSansBold";
  width: 75%;
  font-size: 1.2vw;
  color: #fff;
  background-color: #0087c2;
  border: none;
  border-radius: 16px;
  padding: 0.75em 1em;
}

.popUpVideo section .fechar_popup {
  top: 5px;
  right: 6px;
  position: absolute;
  height: 55px;
  width: 55px;
  background: url(img/sprite.png) no-repeat;
  background-position: -135px -1px;
  filter: brightness(60%);
  transform: scale(0.8);
  cursor: pointer;
}

.popUpCompartilhar section .fechar_popup {
  top: 5px;
  right: 6px;
  position: absolute;
  height: 55px;
  width: 55px;
  background: url(img/sprite.png) no-repeat;
  background-position: -135px -1px;
  filter: brightness(60%);
  transform: scale(0.8);
  cursor: pointer;
}

.popUpRotacao section .fechar_popup {
  top: 5px;
  right: 6px;
  position: absolute;
  height: 55px;
  width: 55px;
  background: url(img/sprite.png) no-repeat;
  background-position: -135px -1px;
  filter: brightness(60%);
  transform: scale(0.8);
  cursor: pointer;
}

.popUpRotacao section .title-compartilhe {
  font-family: sourceSansBold;
  font-size: 23px;
  width: 450px;
  text-align: center;
  color: #4a462a;
  margin-bottom: 20px;
}

.popUpRotacao section .image_rotation_popup {
  width: 72px;
  height: 72px;
  background: url(img/land.png) no-repeat;
}


.popUpRotacao section button{
  margin-top: 10px;
  font-family: sourceSansBold;
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #0087c2;
  border: none;
  border-radius: 14px;
}

.popUpCompartilhar section .title-compartilhe {
  font-family: sourceSansBold;
  font-size: 25px;
  color: #4a462a;
  margin-bottom: 20px;
}

.popUpCompartilhar section .link{
  background-color: #efefef;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 18px;
  color: #4a462a;
}

.popUpCompartilhar section button{
  margin-top: 10px;
  font-family: sourceSansBold;
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #0087c2;
  border: none;
  border-radius: 14px;
}

.popUpVideo section .explicacao {
  font-family: "sourceSansBold";
  color: #4a462a;
  font-size: 22px;
}

.popUpVideo section .buttton-items {
  display: flex;
  width: 330px;
  justify-content: space-between;
  align-items: center;
}

.popUpVideo section .buttton-items button {
  cursor: pointer;
  font-size: 24px;
  font-family: "sourceSansBold";
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #928c5d;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.popUpVideo section .buttons-section {
  margin-top: 30px;
  display: flex;
  gap: 6%;
}

.popUpVideo section .buttons-section button {
  width: 260px;
  font-family: "sourceSansBold";
  font-size: 18px;
  color: #fff;
  background-color: #0087c2;
  border: none;
  border-radius: 14px;
}

.icon-compartilhar {
  background: url(img/icons/compartilhar.png) no-repeat  !important;
  margin-right: 7px;
  transform: scale(0.7) !important;
}

.icon-creditos  {
  background: url(img/icons/creditos.png) no-repeat  !important;
  width: 45px  !important;
  height: 37px !important;
  transform: scale(0.7) !important;
  margin-left: -7px;
  margin-right: 7px;
}

.icon-ajuda {
  background: url(img/icons/ajuda.png) no-repeat  !important;
  width: 32px  !important;
  height: 32px !important;
  transform: scale(0.7) !important;
  margin-right: 12px;
}

.icon-acessibilidade {
  background: url(img/icons/acessibilidade.png) no-repeat  !important;
  width: 33px  !important;
  height: 33px !important;
  transform: scale(0.7) !important;
  margin-right: 7px;
}

.btn [data-status="on"] .icon.icon-som {
  background: url(img/icons/som-on.png) no-repeat  !important;
  width: 33px  !important;
  height: 33px !important;
  transform: scale(0.7) !important;
  margin-right: 7px;
}

.btn [data-status="off"] .icon.icon-som {
  background: url(img/icons/som-off.png) no-repeat  !important;
  width: 35px  !important;
  height: 33px !important;
  transform: scale(0.7) !important;
  margin-right: 7px;
}

.icon-reiniciar {
  background: url(img/icons/reiniciar.png) no-repeat  !important;
  width: 33px  !important;
  height: 33px !important;
  transform: scale(0.7) !important;
  margin-right: 7px;
  margin-top: 4px;
}

.img_pop_up {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000006c;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img_pop_up_none {
  display: none;
}

.img_pop_up .img_question_popup {
  height: 80%;
}

.mobile-aviso {
  display: none;
}